html, body {
  height: 100%;
  color: #666666;
  font-family: Georgia, Times New Roman, Times, serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

.img-portfolio {
  margin-bottom: 2px; }

.error-404 {
  font-size: 100px; }

.row {
  margin: 0px; }

.price {
  display: block;
  font-size: 50px;
  line-height: 50px; }
  .price sup {
    top: -20px;
    left: 2px;
    font-size: 20px; }

.period {
  display: block;
  font-style: italic; }

hr {
  border-bottom-color: #305ADE; }

@media (max-width: 991px) {
  .customer-img {
    margin-bottom: 30px; }
  .img-related {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px; }
  header.carousel .carousel {
    height: 70%; } }

.img-hover:hover {
  opacity: 0.8; }

header.carousel {
  height: 300px;
  padding: 0px;
  margin: 20px 0px 0px 50px; }
  header.carousel .item {
    height: 100%; }
    header.carousel .item.active {
      height: 100%; }
  header.carousel .carousel-inner {
    height: 100%; }
  header.carousel .carousel-control {
    background: none; }
  header.carousel .carousel-caption h6 {
    font-size: 24px;
    font-style: italics; }
  header.carousel .carousel-caption a {
    font-weight: 700; }
  header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover; }

.navbar-inverse {
  background-color: #305ADE;
  border: none; }
  .navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700; }
  .navbar-inverse .navbar-brand {
    color: #FFFFFF; }
    .navbar-inverse .navbar-brand img {
      margin-top: -30px; }
  .navbar-inverse .logo-font-style {
    color: #A7FF61;
    font-style: italic;
    font-weight: 800;
    font-size: 18px; }

.btn-default {
  background-color: #49A52D;
  color: #fff; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #3E6FCA;
  border-color: #adadad; }

.latestnews {
  float: right;
  margin: 20px;
  padding: 0px; }
  .latestnews li {
    list-style: none;
    border-bottom: 1px dotted blue;
    margin-bottom: 10px; }

.collection-container .fa-paw {
  color: #F10708; }

.slider-block {
  margin-top: 70px;
  width: 100%; }

.collection-container .search {
  margin-top: 20px;
  margin-bottom: 10px; }
.collection-container .input-group {
  float: right; }
  .collection-container .input-group .form-control {
    height: 40px; }

.join-us {
  border: 2px solid #dddddd;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  margin: 40px auto;
  position: relative;
  text-align: center;
  padding: 10px; }

.page-content {
  margin-top: 5%;
  overflow: hidden;
  min-height: 550px; }
  .page-content .col-md-9 {
    padding: 20px 60px; }
  .page-content .alert {
    font-size: 20px; }

.main-l-nav-alphabet {
  list-style: outside none none;
  margin: 30px 0;
  text-transform: uppercase;
  overflow: hidden; }
  .main-l-nav-alphabet li {
    display: inline;
    float: left;
    margin: 0 15px 5px 0;
    text-align: center;
    width: 10px; }

.single-product {
  overflow: hidden; }
  .single-product figure {
    float: left; }

.art-image-listing a img {
  width: 162px;
  height: 190px; }

.page-header {
  margin-top: 0px !important; }
  .page-header h2 {
    margin-top: 0px !important; }

.view-more > a {
  display: block;
  margin: auto;
  width: 100px; }

footer .wrapper.row {
  margin: auto;
  width: 90%; }

.red {
  color: red; }

.search-form .input-group {
  margin-bottom: 6px; }

a.list-group-item {
  border-color: #fff !important; }

.latest-post-content i {
  margin-right: 5px; }
.latest-post-content h2 {
  border-bottom: 1px dotted blue; }

.search-button a {
  font-size: 15px;
  font-weight: bold; }

.sub-category {
  padding-left: 10px; }
  .sub-category li {
    list-style: none; }
    .sub-category li i {
      margin-right: 10px; }

.artist-search h6 {
  font-style: italic; }

.thumbnail .img-responsive {
  height: 100px;
  width: 100px; }

.single-user > img {
  float: left;
  height: 190px;
  width: 162px;
  padding: 10px; }

.additional-desc .tab-pane {
  padding: 20px; }

.fl_center ul {
  display: block;
  margin: auto;
  width: 40%; }

.spinner-class {
  background-image: url('../images/spinner.gif'); }

.navbar-fixed-top {
  top: 20px; }

.right-links {
  float: right;
  width: 20%; }

.top-bar {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; }

.navbar-header h5 {
  color: #fff;
  float: left;
  font-size: 25px;
  font-style: italic; }

.art-image-listing {
  margin-bottom: 20px; }

.single-image-view img {
  height: 400px;
  width: 500px; }


/*# sourceMappingURL=app.css.map */