//colors
$color_mercury_approx: #e7e7e7;
$color_desert_storm_approx: #f8f8f8;
$white: #fff;
$color_gallery_approx: #eee;
$color_boston_blue_approx: #428bca;
$color_fern_approx: #5cb85c;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_chestnut_rose_approx: #d9534f;
$color_mountain_mist_approx: #999;
$mine_shaft_50: rgba(50, 50, 50, .5);
$color_alto_approx: #ddd;
$color_goblin_approx: #3d8b3d;
$color_tall_poppy_approx: #b52b27;
$color_golden_bell_approx: #df8a13;

//fonts
$font_0: fontawesome;

body {
  background-color: $color_desert_storm_approx;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 20px 15px;
  min-height: 568px;
  background-color: $white;
}

@media(min-width: 768px) {

  .navbar-top-links {
    .dropdown-messages {
      margin-left: auto;
    }
    .dropdown-tasks {
      margin-left: auto;
    }
    .dropdown-alerts {
      margin-left: auto;
    }
  }
}

.navbar-top-links {
  margin-right: 0;
  li {
    display: inline-block;
    &:last-child {
      margin-right: 15px;
    }
    a {
      padding: 15px;
      min-height: 50px;
    }
  }
  .dropdown-messages {
    width: 310px;
    min-width: 0;
    margin-left: 5px;
  }
  .dropdown-tasks {
    width: 310px;
    min-width: 0;
    margin-left: -59px;
  }
  .dropdown-alerts {
    width: 310px;
    min-width: 0;
    margin-left: -123px;
  }
  .dropdown-user {
    right: 0;
    left: auto;
  }
  .dropdown-menu li {
    display: block;
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 3px 20px;
      min-height: 0;
      div {
        white-space: normal;
      }
    }
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  //Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all .5s;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted $color_mountain_mist_approx;
    &.left .chat-body {
      margin-left: 60px;
    }
    &.right .chat-body {
      margin-right: 60px;
    }
    .chat-body p {
      margin: 0;
    }
  }
  .glyphicon {
    margin-right: 5px;
  }
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
}

.show-grid {
  margin: 15px 0;
  [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $color_alto_approx;
    background-color: $color_gallery_approx !important;
  }
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: $color_fern_approx;
  .panel-heading {
    border-color: $color_fern_approx;
    color: $white;
    background-color: $color_fern_approx;
  }
  a {
    color: $color_fern_approx;
    &:hover {
      color: $color_goblin_approx;
    }
  }
}

.panel-red {
  border-color: $color_chestnut_rose_approx;
  .panel-heading {
    border-color: $color_chestnut_rose_approx;
    color: $white;
    background-color: $color_chestnut_rose_approx;
  }
  a {
    color: $color_chestnut_rose_approx;
    &:hover {
      color: $color_tall_poppy_approx;
    }
  }
}

.panel-yellow {
  border-color: $color_casablanca_approx;
  .panel-heading {
    border-color: $color_casablanca_approx;
    color: $white;
    background-color: $color_casablanca_approx;
  }
  a {
    color: $color_casablanca_approx;
    &:hover {
      color: $color_golden_bell_approx;
    }
  }
}

.btn-primary.btn-outline {
  color: $color_boston_blue_approx;
  &:hover {
    color: $white;
  }
}

.btn-success.btn-outline {
  color: $color_fern_approx;
  &:hover {
    color: $white;
  }
}

.btn-info.btn-outline {
  color: $color_viking_approx;
  &:hover {
    color: $white;
  }
}

.btn-warning.btn-outline {
  color: $color_casablanca_approx;
  &:hover {
    color: $white;
  }
}

.btn-danger.btn-outline {
  color: $color_chestnut_rose_approx;
  &:hover {
    color: $white;
  }
}

.panel .slidedown .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

table.dataTable thead {
  .sorting {
    background: 0 0;
    &:after {
      content: "\f0dc";
      float: right;
      font-family: $font_0;
      color: $mine_shaft_50;
    }
  }
  .sorting_asc {
    background: 0 0;
    &:after {
      content: "\f0de";
      float: right;
      font-family: $font_0;
    }
  }
  .sorting_desc {
    background: 0 0;
    &:after {
      content: "\f0dd";
      float: right;
      font-family: $font_0;
    }
  }
  .sorting_asc_disabled {
    background: 0 0;
  }
  .sorting_desc_disabled {
    background: 0 0;
  }
}

.main-content {
  .panel-heading {
    overflow: hidden; // fix the height of the wrapper container with floated elements
    .panel-title {
      width: 200px;
      float: left;
    }
  }
  .sub-menu {
    width: 200px;
    float: right;
  }
}
.thumbnail > a > .img-responsive{
  height: 120px;
  width: 150px;
}

.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

.toppad {
  margin-top: 20px;
}
.nav > li > a > i{
  padding-right: 20px;
}