//colors
$white: #ffffff;
$color_storm_dust_approx: #666666;
$blue_color: #305ADE;

//fonts
$font_0: Georgia;
$font_1: Times New Roman;
$font_2: Times;
$font_3: serif;

//@extend-elements
//original selectors
//html, body
%extend_1 {
  height: 100%;
  color: $color_storm_dust_approx;
  font-family: $font_0, $font_1, $font_2, $font_3;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

html {
  @extend %extend_1;
}

body {
  @extend %extend_1;
}

.img-portfolio {
  margin-bottom: 2px;
}

.error-404 {
  font-size: 100px;
}

.row{
  margin:0px;
}

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
  sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
  }
}

.period {
  display: block;
  font-style: italic;
}

hr {
  border-bottom-color: $blue_color;
}

@media(max-width: 991px) {
  .customer-img {
    margin-bottom: 30px;
  }
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }
  header.carousel .carousel {
    height: 70%;
  }
}

.img-hover:hover {
  opacity: 0.8;
}

header.carousel {
  height: 300px;
  padding:0px;
  margin: 20px 0px 0px 50px;
  .item {
    height: 100%;
    &.active {
      height: 100%;
    }
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel-control {
    background: none;
  }
  .carousel-caption h6 {
    font-size: 24px;
    font-style: italics;
  }
  .carousel-caption a {
    font-weight: 700;

  }
  .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
}

.navbar-inverse {
  background-color: #305ADE;
  border: none;
  .navbar-nav > li > a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
  }
  .navbar-brand {
    color: #FFFFFF;
    img{
      margin-top:-30px;
    }
  }

  .logo-font-style {
    color: #A7FF61;
    font-style: italic;
    font-weight: 800;
    font-size: 18px;

  }
}

.btn-default {
  background-color: #49A52D;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #3E6FCA;
  border-color: #adadad;
}

.latestnews {
  float: right;
  margin: 20px;
  padding: 0px;

  li {
    list-style: none;
    border-bottom: 1px dotted blue;
    margin-bottom: 10px;
  }

}

.collection-container {

  .fa-paw {
    color: #F10708;
  }
}

.slider-block {
  margin-top: 70px;
  width: 100%;
}

.collection-container {
  .search {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .input-group {
    float: right;
    .form-control {
      height: 40px;
    }
  }
}

.join-us {
  border: 2px solid #dddddd;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  margin: 40px auto;
  position: relative;
  text-align: center;
  padding: 10px;
}

.page-content {
  margin-top: 5%;
  overflow: hidden;
  min-height: 550px;
  .col-md-9 {
    padding: 20px 60px;
  }
  .alert {
    font-size: 20px;

  }
}

.main-l-nav-alphabet {
  list-style: outside none none;
  margin: 30px 0;
  text-transform: uppercase;
  overflow: hidden;
  li {
    display: inline;
    float: left;
    margin: 0 15px 5px 0;
    text-align: center;
    width: 10px;
  }
}

.single-product {
  overflow: hidden;
  figure {
    float: left;
  }
}

.art-image-listing a img {
  width: 162px;
  height: 190px;
}

.page-header {
  margin-top: 0px !important;
  h2 {
    margin-top: 0px !important;
  }
}

.view-more > a {
  display: block;
  margin: auto;
  width: 100px;
}

footer .wrapper.row {
  margin: auto;
  width: 90%;
}

.red {
  color: red;
}

.search-form {
  .input-group {
    margin-bottom: 6px;
  }
}

a.list-group-item {
  border-color: #fff !important;

}

.latest-post-content {
  i {
    margin-right: 5px;
  }
  h2 {
    border-bottom: 1px dotted blue;
  }
}

.search-button {
  a {
    font-size: 15px;
    font-weight: bold;
  }
}

.sub-category {
  padding-left: 10px;
  li {
    list-style: none;
    i {
      margin-right: 10px;
    }
  }
}

.artist-search h6 {
  font-style: italic;
}

.thumbnail {
  .img-responsive {
    height: 100px;
    width: 100px;
  }

}

.single-user > img {
  float: left;
  height: 190px;
  width: 162px;
  padding: 10px;
}

.additional-desc .tab-pane {
  padding: 20px;
}
.fl_center ul {
  display: block;
  margin: auto;
  width: 40%;
}
.spinner-class{
  background-image: url('../images/spinner.gif');
}
.navbar-fixed-top{
 top: 20px;
}
.right-links {
  float: right;
  width: 20%;
}

.top-bar{
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
.navbar-header h5 {
  color: #fff;
  float: left;
  font-size: 25px;
  font-style: italic;
}
.art-image-listing{
  margin-bottom:20px;
}
.single-image-view img {
  height: 400px;
  width: 500px; }